.reservationDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.reservationDetails table {
    width: 100%;
    font-size: 120%;
    border-spacing: 10px;
    margin-top: 10px;
    margin-top: 10px;
}

.reservationDetails table th {
    width: 30%;
    text-align: left;    
    border-bottom: 2px solid rgba(192, 192, 192, 0.5);
}

.reservationDetails table td {
    border-bottom: 2px solid rgba(192, 192, 192, 0.5);
}

.terms {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.terms #terms_conditions{
    margin-left: 1%;
    font-size: 100%;
}

.button #backButton span:after {
    font-size: 1.2vw;
    content: '\226a';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -20px;
    transition: 0.5s;
}
  
.button #backButton:hover span {
    padding-left: 25px;
}
  
.button #backButton:hover span:after {
    opacity: 1;
    top: 0;
}