.paypal {
    width: 100vw;
    height: 100vh;
    padding: 100px;
    background-color: gray;
    display: grid;
    place-items: center;
}

.wrapper {
    background-color: lightgray;
    padding: 100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: grid;
    place-items: center;
}

#paybycash {
    background: #ffc439;
    width: 200px;
    height: 35px;
    margin-top: 10px;
    border-radius: 5px;
    padding-top: 5px;
    font-weight: 500;
    font-style: italic;
}

button {
    color: blue;
    background-color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 16px;
}

button:hover {
    background-color: yellow;
}

#Backtohome {
    display: flex;
    margin-top: 0px;
    padding-left: 10px;
    position: relative;
    top: 0px;
    left: 0px;
}

#Backtohome #home {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    cursor: pointer;
    position: absolute;
    top: -90px;
    right: -180px;
}

#Backtohome #home:hover {
    box-shadow: 3px 3px 5px gray;
}
