.ForgotPass {
    width: 100vw;
    height: 100vh;
    display: flex;
    background: url("../img/background.jpg") no-repeat center fixed;
}

.ForgotPass .forgotbox {
    width: auto;
    height: auto;
    min-width: 50%;
    min-height: 60%;
    border: 1px solid black;
    margin: auto;
    position: relative;
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}

.ForgotPass #welcome {
    font-size: 2rem;
    font-weight: bold;
    margin: auto;
    margin-top: 3%;
    width: 31%;
}

.ForgotPass #cancelContainer {
    position: absolute;
    top: 5px;
    right: 10px;
}

.ForgotPass .inp {
    display: block;
    background-color: white;
    color: #474a59;
    border: 1px solid #474a59;
    padding: 10px 20px;
    outline: none;
    font-size: 1rem;
    color: #474a59;
    letter-spacing: 1px;
    border-radius: 20px;
    margin: 40px 30px 10px 30px;
}

.ForgotPass .inp .impBx {
    border: none;
    width: 75%;
    margin-left: 20px;
    padding: 0.5%;
    outline: none;
}

.ForgotPass .remember {
    margin-left: 20px;
    padding: 20px;
    font-size: 1.3rem;
}

.ForgotPass .btn-box {
    display: block;
    margin: 10px auto 10px 37%;
}

.ForgotPass .toggle-btn1 {
    padding: 10px 30px;
    cursor: pointer;
    background: #fc6b57;
    border: solid #fc6b57;
    border-radius: 10px;
    outline: none;
    color: white;
    font-weight: bold;
}
