html {
    background: url("../img/TableReservation/background.png") no-repeat center fixed;
}

.MainPage .upperbody {
    max-height: 21vh;
}

.MainPage .header {
    display: flex;
    background-color: white;
}

.MainPage .btn-3 {
    margin: auto;
    height: 40px;
    width: auto;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
}

.MainPage .btn-3:hover {
    text-decoration: underline;
    box-shadow: 3px 3px 5px gray;
    color: rgb(74, 131, 74);
}

#Backtohome {
    display: flex;
    margin-top: 0px;
    padding-left: 10px;
    background-color: rgb(255, 255, 255);
    width: 30vw;
}

#Backtohome #home {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    cursor: pointer;
}

#Backtohome #home:hover {
    box-shadow: 3px 3px 5px gray;
}

#Backtohome p {
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    margin-left: 5px;
    padding-top: 12px;
    cursor: pointer;
}

#Backtohome p:hover {
    text-decoration-line: underline;
}

.Navigation {
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
}

.Navigation img {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    margin: 10px 10px 0px 10px;
}

.Navigation img:hover {
    box-shadow: 3px 3px 5px rgb(67, 67, 223);
}

#maincontent {
    background: url("../img/TableReservation/background.png") no-repeat center fixed;
    display: grid;
    place-content: center;
}

.menu {
    background: url("../img/TableReservation/background.png") no-repeat center fixed;
}

.menu .category {
    text-align: center;
    display: block;
    max-height: 70vh;
    max-width: 100vw;
}

.title-name {
    font-size: 23px;
    font-weight: bold;
    font-style: italic;
    color: rgb(240, 207, 20);
    text-align: left;
    padding-left: 80px;
    border-top: 1px solid #c8c0c0;
    border-bottom: 1px solid #c8c0c0;
}

#FoodComponent {
    margin: 10px 20px 10px 20px;
    width: 250px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    -webkit-border-radius: 10px;
}

#FoodComponent:hover {
    box-shadow: 3px 3px 5px purple;
}

.menu .category #foodrow-wrap {
    display: flex;
}

.menu .category #foodrow {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    text-align: center;
    padding-left: 4%;
    width: 100vw;
}

#foodimage {
    cursor: pointer;
}

#carticon {
    cursor: pointer;
}

#foodname {
    text-align: left;
    font-size: 20px;
    padding-left: 10px;
    padding-bottom: 3px;
    margin-bottom: 7px;
    border-bottom: 1px solid #c8c0c0;
}

#foodname #foodstt {
    color: red;
    font-weight: bold;
}

#price-and-cart {
    height: 40px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

#price-and-cart #foodprice {
    font-size: 17px;
    font-weight: bold;
    font-style: italic;
    padding-top: 3px;
    color: red;
}

#price-and-cart #cartIcon {
    position: absolute;
    bottom: 4px;
    right: 5px;
    cursor: pointer;
    padding: 0;
    transition: all 0.2s ease-in-out;
}

#price-and-cart #cartIcon:hover {
    transform: scale(1.1);
}

.MainPage .btn-secondary {
    margin: auto;
    height: 50%;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.1);
}

.MainPage .btn-secondary:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.MainPage .cart {
    height: 100vh;
    line-height: 30px;
    background: #65beb1;
    color: #fff;
    position: fixed;
    width: 30%;
    top: 0px;
    left: 0px;
    z-index: 1;
}
